<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/backgrid.min.css'/>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <div>
      <table id='userList'>   
      <!--
        <tr>
          <th>UserName</th>
          <th>Email</th>
          <th>Delete?</th>
        </tr>
      -->
      </table>  
    </div>
    <div>
      <p><a href='./adduser'>Create new user</a></p>
      <p><a href='./modifyuser'>Modify user</a></p>
    </div>
  

    <script type='text/javascript' src='/javascripts/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='/javascripts/underscore-min.js'></script>
    <script type='text/javascript' src='/javascripts/backbone-min.js'></script>
    <script type='text/javascript' src='/javascripts/backgrid.min.js'></script>
    <script type='text/javascript' src='/javascripts/global.js'></script> 

  </body> 
</html>
